-
    var ids = {
        controls: 'controls',
        options: 'options',
        visualization: 'visualization',
        wordList: 'word-list',
        wordReplay: 'word-replay',
        studentSummary: 'student-summary',
    };

    // the order must match the corresponding enums
    var optionLists = {
        mappings: [ 'static', 'dynamic' ],
        colorMetrics: [ 'none', 'duration', 'char speed', 'syllable speed' ]   // Matric@utils/metric.js
    };

doctype html
html
    head
        title School Reading Visualization 2
        meta(charset="utf-8")
        link(rel='stylesheet', href='app.css')
        link(href="https://fonts.googleapis.com/css?family=Inconsolata|Oxygen+Mono|Source+Code+Pro" rel="stylesheet")
        script(src="./libs/sgwm.js")
        script(src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js")
        script.
            var config = {
                apiKey: "AIzaSyCHAhFtSM2bKNEzTbKVOiYEv-wpRi2zjdU",
                authDomain: "burning-torch-9217.firebaseapp.com",
                databaseURL: "https://burning-torch-9217.firebaseio.com",
                storageBucket: "burning-torch-9217.appspot.com",
                messagingSenderId: "777150892492"
            };
            if (this["firebase"]) {
                firebase.initializeApp(config);
            }

    body
        include ./components/controls.jade
        +controls( ids.controls )

        include ./components/options.jade
        +options( ids.options, optionLists )

        include ./components/visualization.jade
        +visualization( ids.visualization )

        include ./components/word-list.jade
        +word-list( ids.wordList )

        include ./components/word-replay.jade
        +word-replay( ids.wordReplay )

        include ./components/student-summary.jade
        +student-summary( ids.studentSummary )

        script(src='app.js')
        script.
            ReadVis2.init({
                visualization: '##{ids.visualization}',
                controls: '##{ids.controls}',
                options: '##{ids.options}',
                wordReplay: '##{ids.wordReplay}',
                wordList: '##{ids.wordList}',
                studentSummary: '##{ids.studentSummary}',
            });
